.login-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-img-container, .login-form-container {
    width: 50vw;
    height: 100vh;
}

.login-img-container {
    background-image: url("../../assets/hospital-cqbo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.login-form-container {
    padding: 5em;
}