header {
    display: block;
    background: white;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.12);
}

header .container {
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .title {
    text-decoration: none;
    color: black;
    white-space: nowrap;
    padding: 0 1em;
}

header .menu {
    display: flex;
    overflow-x: auto;
    margin: 0;
    padding: 1em 0;
}

header .menu .menu-option {
    display: flex;
    margin: 0;
    padding: 0 1em;
    position: relative;
}

.categorization-notification {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    right: 0;
    top: -10px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

