.homepage .homepage-container {
    display: flex;
    align-items: center;
    padding: 3em 0;
}

.homepage {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    margin: auto 0;
}