.patient {
    display: flex;
    padding: 1em;
    margin: 0.5em;
    border: 1px #d3d3d3 solid;
    border-radius: 2px;
    align-items: center;
    transition: background-color 0.2s ease;
}

.patient .icon {
    width: 32px;
    margin-right: 1em;
}

.patient p {
    margin: 0;
}

.patient .patient-content {
    display: inline-flex;
    width: 100%;
    justify-content: space-between
}

.patient-content p {
    font-size: 14px;
    font-weight: 400;
}
