.sector {
    min-height: 90%;
    width: 18em;
    border: 1px lightgray solid;
    min-width: 18em;
    margin-right: 1em;
}

.aux-container-sector:first-of-type {
    margin-left: 1em;
}

.sector .sector-header {
    border-bottom: 1px lightgray solid;
    color: white;
    margin: 0 0 -3em 0;
    padding: 1em 1em 4em;
}

.sector .sector-category {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.sector .sector-title {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -.028em;
}


.sector .sector-content {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.sector .sector-description {
    display: flex;
    margin: 0;
    padding: 1em 2em;
    border-bottom: 1px lightgray solid;
    align-items: center;
    background: #EEEEEE;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.sector .sector-droppable {
    height: 50vh;
    overflow-y: scroll;
    transition: background-color 0.2s ease;
}

.sector .sector-add-patient {
    display: flex;
    align-items: center;
    padding: 0 1em;
    cursor: pointer;
    background: white;
    border-top: 1px lightgray solid;
    transition: background-color 0.2s ease;
}

.sector-add-patient img {
    margin-right: 0.5em;
}

.sector .sector-add-patient:hover {
    background: #EEEEEE; 
}



